@(profile: models.users.UserProfile)
<paws-header nav-module="users" nav-service="navigation" h1="You are logged in."></paws-header>
<P>
    <h3>Your defined time zones</h3>
    @for(tz <- profile.timezones) {
    <p>
        <b>Name:</b> @tz.name<br>
        <b>City:</b> @tz.city<br>
        Time there: @tz.prettyTime(0)
    </p>
    }
</P>
<form ng-controller="TimeZoneController" ng-submit="addTimeZone()" class="form-container" ng-class='{"has-error": form.errors.message != null}'>
    <h3>New City / TimeZone</h3>
    <paws-input
    name="name"
    model="form.name"
    type="text"
    errors="form.errors['name']"
    placeholder="Name"
    required="true"></paws-input>

    <paws-input
    name="city"
    model="form.city"
    type="text"
    errors="form.errors['city']"
    placeholder="City"
    required="true"></paws-input>

    <div ng-show="form.errors.message" class="text-center alert alert-danger">
        {{form.errors.message}}
    </div>

    <div class=" text-center">
        <paws-submit value="Add TimeZone" class="primary"></paws-submit>
    </div>
</form>